body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.calculator {
    text-align: center;
}

#display {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 1.5em;
    text-align: end;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    width: 100%;
    padding: 15px;
    font-size: 1.2em;
    cursor: pointer;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button:active {
    background-color: #ccc;
}

/* Ajustements demandés */
button.h2 {
    grid-column: span 2; /* Largeur deux fois plus grande */
}

button.l2 {
    grid-row: span 2; /* Hauteur deux fois supérieure */
}